body{
    background: url('../image/Soleil_levant_champs_1280.jpg') no-repeat;
    background-size: cover;
    color: rgb(69, 147, 167);
}

.registration-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.registration-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0px;
}