form{
    margin-top: 20px;
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
    text-align: center;
}

form input[type="text"]{
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #c916ab;
    margin-bottom: 15px;
}
form input[type="submit"]{
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color:  #eb7371;
    margin-bottom: 15px;
    outline: none;
    cursor: pointer;
}